@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');


/* font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
:root {
    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purple: #5C62EC;

    --text-color: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);

    /* Light mode */
    --page-bg: var(--white);
    --text-color: var(--black);
    --title-1: var(--accent);
    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}


.dark {
    /* Dark mode */
    --page-bg: #252526;
    --text-color: var(--white);
    --title-1: var(--white);

    --project-card-bg: var(--black);
    --project-card-text: var(--white);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;

    /* Color mode */
    background-color: var(--page-bg);
    color: var(--text-color);
}

/* General */
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 70px 0;
}

.title-1 {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    font-size: 40px;
    line-height: 1.3;
    color: var(--text-color);
    margin-bottom: 20px;
    font-weight: 700;
}


/* Navigation */
.nav {
    background-color: var(--dark-bg);
    color: var(--header-text);
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    font-family: 'Poppins', sans-serif;
    color: var(--header-text);
    font-size: 24px;
    margin-right: auto;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.3s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: '';

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

.dark-mode-btn {
    order: 9;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 51px;
    height: 26px;

    background-color: #272727;
    border-radius: 50px;
}

.dark-mode-btn::before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;

    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s ease-in;

}

.dark-mode-btn--active::before {
    left: 26px;
}

.dark-mode-btn__icon {
    position: relative;
    z-index: 99;

}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('./../images/header-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;




    min-height: 695px;
    padding: 40px 0;
    background-color: var(--dark-bg);
    color: var(--header-text);
    text-align: center;
}

.header__wrapper {
    padding: 0 15px;
    max-width: 660px;
}

.header__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
}

.header__text p+p {
    margin-top: 0.5em;
}

.btn {
    display: inline-block;
    color: var(--white);
    background-color: var(--accent);
    padding: 12px 28px;
    border-radius: 5px;
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.3 ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn-outline {
    height: 48px;
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid var(--black);
    color: var(--black);
    background-color: var(--white);
    font-weight: 500;


    display: flex;
    column-gap: 10px;
    align-items: center;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}



/* Projects */



.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.project {
    max-width: 370px;
    background-color: var(--project-card-bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    transition: all .3s ease-in;
}

.project:hover {
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.5);
}

.project-image {
    border-radius: 10px;

}

.project-title {
    padding: 15px 20px 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--project-card-text);
}

.project-desc {
    padding: 0px 20px 20px;
    color: var(--project-card-text);
}

/* Project-details */

.project-details {
    margin: 0 auto;
    max-width: 865px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}


.project-details__image {
    max-width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project-details__desc {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 10px;
}

/* Content list */


.content-list {
    margin: 0 auto;
    max-width: 570px;

    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    text-align: center;
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item a {
    color: var(--accent);
}

.content-list__item p+p {
    margin-top: 0.5em;
}



/* Footer */

.footer {
    margin-top: auto;
    padding: 60px 0 50px;
    background-color: var(--dark-bg);
    color: var(--header-text);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;

}


.copyright p+p {
    margin-top: 0.5em;
}

@media (max-width:620px) {
    .nav-row {
        justify-content: space-between;
    }

    .dark-mode-btn {
        order: 0;
    }

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    .section {
        padding: 40px 0;
    }

    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .project-title {
        font-size: 22px;
    }

    .project-details__desc {
        margin-bottom: 20px;
        font-size: 22px;
    }

    .footer {
        padding: 40px 0 30px;
    }

    .footer-wrapper {
        row-gap: 20px;
    }

    .social {
        column-gap: 10px;
    }

    .social-item {
        width: 28px;
    }

    .title-2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }


}